:root {
  --c-mais-s: var(--mantine-color-orange-0);
  --c-main-m: var(--mantine-color-orange-2);
  --c-main-l: var(--mantine-color-orange-5);
  --c-white: var(--mantine-color-white);
  --c-text: var(--mantine-color-dark-8);
}

html {
  overflow-y: scroll;
}
body {
  width: 100%;
  height: 100%;
  color: var(--c-text);
}

h1 {
  text-align: center;
}

main {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
